.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 25px;
	width: 70%;
}

#menuhor {
	position: relative;
	margin: 0 auto;
	font: 20px Arial, sans-serif;
	height: 100%;
	min-height: 100%;
	display: -webkit-flex;
	display: flex;
	left: 35%
}

#menuhor li {
	list-style: none; 
	margin: 0;
	display: inline;
}
#menuhor li a {
	padding: 5px 35px 5px 35px;
	margin: 0;
	border: 1px solid #696969; 
	background: #FFF;
	text-decoration: none;
}
#menuhor li a:link {
	color: #13578C;
}
#menuhor li a:visited {
	color: #13578C;
}
#menuhor li a:hover {
	background: #13578C;
	color: #FFF; 
	border-color: #000;
}

.trade {
	font: 40px Arial, sans-serif;
	font-weight: bold;
	color: #13578C;
	height: 100%;
	min-height: 100%;
	text-align: center;
}

.inicial 	 {
	font: 30px Arial, sans-serif;
	color: #44ABFF;
	height: 100%;
	min-height: 100%;
	text-align: center;
}

.container{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	left: 50%;
	margin-left: 41%;

}

.menu{
	width: 100%;
}