body {
	font-family: Tahoma;
	padding-top: 20px;
	padding-right: 40px;
	padding-left: 40px;
}

h1,h2,h3,h4,h5,h6 {
	color: #44ABFF;
}

table {
	margin-top: 80px;
}

.tableHeaderText{
	color: #13578C;
}

.tableHeaderSubText{
	color: #44ABFF;
}

.numberColor{
	color: #13578C;
	display: inline;
}